<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Semantic Web - SPARQL endpoint Visualization</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="description" content="Visual representation from a SPARQL endpoint with Highcharts">
		<meta name="keywords" content="RDF,N3,SPARQL,JavaScript,Ruby,Sinatra,OpenShift">
		<meta name="author" content="Daniel Machado Fernandez">

		<link rel="stylesheet"
			href="./css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="./css/bootstrap/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="./css/styles.css">

		<script type="text/javascript" src="./js/jquery.min.js"></script>
	</head>
	<body>

		<div class="container-narrow">

			<div class="masthead">
				<ul class="nav nav-pills pull-right">
					<li><a href="./">Home</a></li>
					<li><a href="./visualization">Visualization</a></li>
					<li class="active"><a href="#">About</a></li>
				</ul>
				<h3 class="muted">Semantic Web - University of Oviedo</h3>
			</div>
			<hr>

			<div class="jumbotron">
				<h1>About the Developer</h1>
				<p class="lead">Daniel Machado Fernández</p>
			</div>

			<hr>

			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="media well">
							<a href="#" class="pull-left"><img
								src="http://bit.ly/16JeYj0"
								class="media-object" alt='' /></a>
							<div class="media-body">
								<h4 class="media-heading">Daniel Machado Fernández</h4>
								Student of a Postgraduate in Web Engineering at University of
								Oviedo.
							</div>
						</div>
						<ul class="iconizer">
							<li><i class="icon-github-sign icon-2x"></i><a
								href="https://github.com/danielmachado">@danielmachado</a></li>
							<li><i class="icon-linkedin-sign icon-2x"></i><a
								href="http://es.linkedin.com/pub/daniel-machado/9/876/965">@daniel-machado</a></li>
							<li><i class="icon-rss-sign icon-2x"></i><a
								href="http://www.diariodeunproyectante.blogspot.com">diariodeunproyectante</a></li>
							<li><i class="icon-envelope-alt icon-2x"></i><a
								href="mailto:daniel.machado.fernandez@gmail.com">daniel.machado.fernandez</a></li>
						</ul>
					</div>
				</div>
			</div>

			<hr>

			<div class="footer">
				<p>&copy; Daniel Machado Fernández - Postgraduate in Web
					Engineering @ University of Oviedo - Spain 2013</p>
			</div>

		</div>

		<script type="text/javascript"
			src="./js/bootstrap/bootstrap.min.js"></script>

	</body>
</html>