<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Semantic Web - SPARQL endpoint Visualization</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="description" content="Visual representation from a SPARQL endpoint with Highcharts">
		<meta name="keywords" content="RDF,N3,SPARQL,JavaScript,Ruby,Sinatra,OpenShift">
		<meta name="author" content="Daniel Machado Fernandez">

		<link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet"
			href="./css/bootstrap/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="./css/styles.css">

		<script type="text/javascript" src="./js/jquery.min.js"></script>
	</head>
	<body>

		<div class="container-narrow">

			<div class="masthead">
				<ul class="nav nav-pills pull-right">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="./visualization">Visualization</a></li>
					<li><a href="./about">About</a></li>
				</ul>
				<h3 class="muted">Semantic Web - University of Oviedo</h3>
			</div>

			<hr>

			<div class="jumbotron">
				<h1>SPARQL Endpoint Visualization</h1>
				<p class="lead">A RDF Visualization from a big dataset served by
					Fuseki. The dataset includes Linked Data from World Bank, World
					Health Organization, DBpedia and United Nations.</p>
				<a class="btn btn-large btn-success" href="./visualization">Get
					Started</a>
			</div>

			<hr>

			<div class="row-fluid marketing">
				<div class="span6">
					<h4>World Bank</h4>
					<p>World Bank provides information about the World Development
						Indicators from all countries around the world.</p>

					<h4>World Health Organization</h4>
					<p>The World Health Organization offers information about the
						registered cases in matter of diseases by country.</p>

				</div>

				<div class="span6">
					<h4>DBpedia</h4>
					<p>DBpedia duplicates the info formerly published on the
						wikipedia about any matter who is susceptible to perform in RDF.</p>

					<h4>United Nations</h4>
					<p>Probably one of the most famous organizations that also
						publishes information on many interesting topics in an stadistic
						form.</p>

				</div>
			</div>

			<hr>

			<div class="footer">
				<p>&copy; Daniel Machado Fernéndez - Postgraduate in Web
					Engineering @ University of Oviedo - Spain 2013</p>
			</div>

		</div>

		<script type="text/javascript"
			src="./js/bootstrap/bootstrap.min.js"></script>

	</body>
</html>